@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Good Hands Doações</h1>

    <a class="btn btn-primary" href="/doacao/create" role="button">Faça um novo cadastro aqui!</a>

    <a class="btn btn-primary" href="/doacao/index" role="button">Faça sua pesquisa e veja as doações cadastradas aqui!</a>
</div>
